.main{
    width: 100%;
}

#main__content{
    padding-block: 9rem;
}

/* SECTION INTRODUCTION */
.main__introduction{
    text-align: center;

    padding-bottom: 4.4rem;
}

.introduction__content{
    display: grid;

    max-width: 44rem;
    
    margin-inline: auto;
}

.introduction__col-a{
    margin-bottom: 2rem;
}

.introduction__col-a picture{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.introduction__img{
    width: 100%;
}

.introduction__title{
    margin-block: 1.8rem;
}

/* SECTION CREATIONS */
.main__creations{
    text-align: center;

    padding-top: 4.4rem;
}

.creations__header{
    margin-bottom: 3rem;
}

.creations__list{
    display: grid;
    gap: 2.6rem;

    max-width: 34rem;
    margin-inline: auto;
}

.creations__item-link{
    width: 100%;
    height: 14rem;

    display: flex;
    align-items: end;

    padding-inline: 3rem;
    padding-bottom: 2.2rem;

    position: relative;
}

.creations__item-img{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    filter: brightness(.7);
}

.creations__item-title{
    color: var(--primary-color);

    text-align: left;
    font-size: 2.4rem;

    z-index: 1;
}

.creations__button{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: var(--main-font);
    letter-spacing: .4rem;

    border: .2rem solid var(--secondary-color);

    padding-block: 1rem;
    padding-inline: 4rem;
    margin-top: 3.4rem;
}

.creations__button--desktop{
    display: none;
}

@media screen and (min-width: 768px) {
    .creations__list{
        grid-template-columns: 1fr 1fr;
        gap: 2.6rem;

        max-width: 74.5rem;
    }
}

@media screen and (min-width: 1024px) {
    /* MAIN */
    #main__content{
        padding-block: 14rem;
    }

    /* INTRODUCTION */
    .main__introduction{    
        padding-bottom: 7.4rem;
    }
    
    .introduction__content{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        max-width: 100%;
        
        margin-inline: auto;
    }

    .introduction__col-a{
        margin: 0;
    }

    .introduction__col-b{
        align-self: center;

        text-align: left;

        max-width: 50rem;
    }

    .introduction__paragraph{
        font-size: 1.5rem;
    }

    /* CREATIONS */
    .main__creations{    
        padding-top: 7.4rem;
    }

    .creations__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        margin-bottom: 6.8rem;
    }

    .creations__button{
        font-size: 1.6rem;
    
        padding-block: .75rem;
        padding-inline: 3.4rem;

        margin-top: 0;
    }

    .creations__button--desktop{
        display: block;
    }

    .creations__button--mobile{
        display: none;
    }

    .creations__title{
        text-align: left;
    }

    .creations__list{
        grid-template-columns: repeat(4, 1fr);

        max-width: 100%;
    }

    .creations__item-link{
        width: 100%;
        height: 40rem;
    
        padding-inline: 3.4rem;
        padding-bottom: 2.6rem;
    }
        
    .creations__item-title{
        font-size: 3rem;
    }
}

@media screen and (min-width: 1360px) {
    /* INTRODUCTION */
    .introduction__content{
        grid-template-columns: 2fr 1fr;
        gap: 0;
    }

    .introduction__col-a{
        position: relative;
        z-index: 0;
    }

    .introduction__col-b{
        background-color: var(--primary-color);

        position: relative;
        z-index: 1;
        transform: translateX(-34%);

        padding-top: 8rem;

        align-self: self-end;
    }

    .introduction__title,
    .introduction__paragraph{
        width: 45rem;
        transform: translateX(22%);
    }

    /* CREATIONS */
    .creations__item-link{
        height: 45rem;
    }
}
