.main{
    width: 100%;
}

#main__content{
    padding-block: 9rem;
}

/* SECTION INTRODUCTION */
.main__introduction{
    text-align: center;

    padding-bottom: 4.4rem;
}

.introduction__content{
    max-width: 44rem;
    
    margin-inline: auto;
}

.introduction__img{
    width: 100%;

    margin-bottom: 2rem;
}

.introduction__title{
    margin-block: 1.8rem;
}

/* SECTION CREATIONS */
.main__creations{
    text-align: center;

    padding-top: 4.4rem;
}

.creations__title{
    margin-bottom: 3rem;
}

.creations__list{
    display: grid;
    gap: 2.6rem;

    max-width: 34rem;
    margin-inline: auto;
}

.creations__item-link{
    width: 100%;
    height: 14rem;

    display: flex;
    align-items: end;

    padding-inline: 3rem;
    padding-bottom: 2.2rem;

    position: relative;
}

.creations__item-img{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    filter: brightness(.7);
}

.creations__item-title{
    color: var(--primary-color);

    text-align: left;
    font-size: 2.4rem;

    z-index: 1;
}

.creations__button{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: var(--main-font);
    letter-spacing: .4rem;

    border: .1rem solid var(--secondary-color);

    padding-block: 1rem;
    padding-inline: 4rem;
    margin-top: 3.4rem;
}

@media screen and (min-width: 768px) {
    .creations__list{
        grid-template-columns: 1fr 1fr;
        gap: 2.6rem;

        max-width: 74.5rem;
    }
}
